@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}
#parent-container {
  /* border: 2px solid blue; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #bulkDelete {
  border: 1px solid rgba(128, 128, 128, 0.313);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#search-bar {
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid rgba(128, 128, 128, 0.434);
  margin-bottom: 12px;
}

#user-container {
  border: 1px solid rgba(128, 128, 128, 0.434);
  border-radius: 2px;
}

.userSelected {
  background-color: rgba(128, 128, 128, 0.078);
}

tr td input {
  border: none;
  background-color: transparent;
}

tr td:last-child {
  /* display: flex; */
  /* gap: 5px; */
  /* border: 2px solid blue; */
}

#action-btns {
  display: flex;
  justify-content: center;
  gap: 5px;
}

#edit svg,
#delete svg {
  width: 24px;
  /* height: 23px; */
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.434);
  padding: 3px 3px;
  background-color: white;
  border-radius: 3px;
}
#delete svg {
  color: red;
}

#selectDelete {
  border: 2px solid rgba(128, 128, 128, 0.434);
  cursor: pointer;
  background-color: transparent;
  margin-top: -5px;
  margin-bottom: 8px;
}

footer {
  display: flex;
  /* align-items: ; */
  /* justify-content: end; */
  border: 5px solid red;
}
#selection-info {
  border: 2px solid blue;
  display: flex;
  align-items: center;
  flex: 1;
  text-align: left;
}
#pages-info {
  display: flex;
  align-items: center;
  flex: 1;
  border: 2px solid blue;
}
#pages-info #pg-number {
  flex: 0.4;
}
.selected {
  background-color: rgba(128, 128, 128, 0.434);
}

#pages-info #pagination-container {
  border: 2px solid blue;
  flex: 1;
  display: flex;
  /* flex-direction: column; */
}
#pages-info #pagination-container button {
  background-color: transparent;
  padding: 1px 7px;
}
#pages-info #pagination-container button svg {
  color: black;
}
ul {
  /* display: inline; */
  border: 2px solid green;
  list-style: none;
  justify-content: end;
  display: flex;
  gap: 5px;
}
ul li {
  padding: 1px 7px;
  border: 1px solid gray;
}
