@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}
#parent-container {
  /* border: 2px solid blue; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* header #bulkDelete {
  border: 1px solid rgba(128, 128, 128, 0.313);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
} */

#search-container {
  display: flex;
  /* border: 2px solid blue; */
}
#search-container .search-icon {
  margin-left: 5px;
  cursor: pointer;
}
#search-container .search-icon svg {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(128, 128, 128, 0.329);
  padding: 5px 5px;
  border-radius: 3px;
}

#search-bar {
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid rgba(128, 128, 128, 0.434);
  margin-bottom: 12px;
  outline: none;
}

#selectDelete {
  background-color: transparent;
  margin-bottom: 12px;
  border: 1px solid rgba(128, 128, 128, 0.313);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.605);
  /* display: flex; */
}
#selectDelete svg {
  width: 20px;
  height: 20px;
  color: white;
}

#user-container {
  border: 1px solid rgba(128, 128, 128, 0.434);
  border-radius: 2px;
}

.userSelected {
  background-color: rgba(128, 128, 128, 0.078);
}

tr td input {
  border: none;
  background-color: transparent;
}

tr td input:focus {
  border: none;
  outline: none;
}

tr td:last-child {
  /* display: flex; */
  /* gap: 5px; */
  /* border: 2px solid blue; */
}

#action-btns {
  display: flex;
  justify-content: center;
  gap: 5px;
}

#edit svg,
#delete svg {
  width: 24px;
  /* height: 23px; */
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.434);
  padding: 3px 3px;
  background-color: white;
  border-radius: 3px;
}
#delete svg {
  color: red;
}

footer {
  display: flex;
  /* align-items: ; */
  /* justify-content: end; */
  /* border: 5px solid red; */
}
#selection-info {
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  flex: 1;
  text-align: left;
}
#pages-info {
  display: flex;
  /* align-items: center; */
  flex: 1;
  /* border: 3px solid blue; */
  white-space: nowrap;
  gap: 5px;
}
#pages-info #pg-number {
  flex: 0.9;
  /* width: 35%; */
  display: flex;
  align-items: center;
  justify-content: end;
  /* border: 2px solid magenta; */
  height: 100%;
  padding: 0 4px;
}
.selected {
  background-color: rgba(128, 128, 128, 0.434);
}

#pages-info #pagination-container {
  /* border: 2px solid blue; */
  flex: 1;
  /* width: 65%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  /* height: 30px; */
  /* flex-direction: column; */
  padding: 0 4px;
}
#pages-info #pagination-container ul {
  padding: 0;
  margin: 0;
}
#pages-info #pagination-container div {
  /* border: 2px solid hotpink; */
  display: flex;
  align-items: start;
}
#pages-info #pagination-container button {
  background-color: transparent;
  padding: 3px 5px;
  border: 1px solid gray;
  display: flex;
  border-radius: 3px;
}
#pages-info #pagination-container .first-page {
  margin-right: 1.5px;
}
#pages-info #pagination-container .last-page {
  margin-left: 1.5px;
}
#pages-info #pagination-container .first-page svg,
#pages-info #pagination-container .last-page svg {
  /* color: black; */
  height: 20px;
  width: 20px;
}
ul {
  /* border: 2px solid green; */
  list-style: none;
  justify-content: end;
  display: flex;
  gap: 5px;
}
ul li {
  color: black;
  padding: 1px 7px;
  border: 1px solid gray;
  border-radius: 3px;
}

/* media-queries */
@media screen and (max-width: 767px) {
  #root {
    width: 100vw;
    margin: 0 auto;
    padding: 0.5rem;
  }
  header {
    /* flex-direction: column;
    align-items: flex-start; */
  }

  #search-container {
    /* flex-direction: column; */
    /* align-items: flex-start; */
  }

  #search-bar {
    width: 100%;
  }

  #user-container {
    overflow-x: auto;
  }

  tr td {
    overflow-x: scroll;
  }
  tr td input {
    width: 100%;
  }

  footer {
    flex-direction: column;
    /* border: 2px solid blue; */
    gap: 5px;
  }

  #selection-info,
  #pages-info {
    width: 100%;
    /* border: 2px solid magenta; */
  }

  #pages-info {
    display: flex;
    /* justify-content: end; */
    align-items: center;
    gap: 0.5px;
    /* border: 4px solid fuchsia; */
  }

  #pages-info #pg-number {
    text-align: center;
    /* border: 2px solid firebrick; */
  }
  #pagination-container {
    justify-content: center;
  }

  #pages-info #pagination-container ul {
    justify-content: center;
  }

  /* add */
  #pages-info #pg-number {
    flex: 0.9;
    /* width: 35%; */
    display: flex;
    align-items: end;
    /* border: 2px solid magenta; */

    padding: 0 2px;
  }
  .selected {
    background-color: rgba(128, 128, 128, 0.434);
  }

  #pages-info #pagination-container {
    /* border: 2px solid blue; */
    flex: 1;
    gap: 2px;
    padding: 0 4px;
  }
  #pages-info #pagination-container ul {
    padding: 0;
    margin: 0;
  }
  #pages-info #pagination-container div {
    /* border: 2px solid hotpink; */
    display: flex;
    align-items: start;
  }
  #pages-info #pagination-container button {
    background-color: transparent;
    padding: 3px 5px;
    border: 1px solid gray;
    display: flex;
    border-radius: 3px;
  }
  #pages-info #pagination-container .first-page {
    margin-right: 0px;
  }
  #pages-info #pagination-container .last-page {
    margin-left: 1.5px;
  }
  #pages-info #pagination-container .first-page svg,
  #pages-info #pagination-container .last-page svg {
    /* color: black; */
    height: 20px;
    width: 20px;
  }
  ul {
    /* border: 2px solid green; */
    list-style: none;
    justify-content: end;
    display: flex;
    gap: 2px;
  }
  ul li {
    color: black;
    padding: 1px 7px;
    border: 1px solid gray;
    border-radius: 3px;
  }
}
